.mainHeader {
  display: flex;
  justify-content: space-around;
  background-color: beige;
}

.logo {
  font-size: 45px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 30%;
  font-size: 20px;
}

.navBar li, .mainHeader h2 {
  cursor: pointer;
  color: black;
}

a {
  text-decoration: none;
}
